// ---------
// ---------
// CSS RESET
// ---------
// ---------

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol { list-style: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
   text-decoration: none;
   color: var(--textColor);
}

i {
   cursor: pointer;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p,
input, button, textarea, select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within { scroll-behavior: auto; }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ---------
// ---------
// CSS SETUP
// ---------
// ---------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

html {
   scroll-behavior: smooth;
   scroll-padding: 8rem;
   background-color: var(--bgColor);
   color: black;
   font-family: "Poppins", "sans-serif";
   overflow-x: hidden;
}

:root {
   --bgColor: #f1fbff;
   --navColor: #f1fbff;
   --primaryColor: #2161DF;
   --primaryColorDark: #173e8d;
   --titleColor: #061D4D;
   --textColor: #233353;
}

/*body.dark-theme {
   --bgColor: ;
   --navColor: ;
   --primaryColor: ;
   --primaryColorDark: ;
   --titleColor: ;
   --textColor: ;
}*/

// ----------
// Scroll Bar
// ---------- 

html::-webkit-scrollbar {
   width: .85em;
   background-color: rgb(30, 30, 30);
}
  
html::-webkit-scrollbar-thumb {
   background-color: var(--primaryColor);
}

html {
   scrollbar-color: var(--primaryColor) rgb(30, 30, 30);
}

// ---------
// Selection
// ---------

::-moz-selection {
   background: var(--primaryColor);
}
 
 ::selection {
   background: var(--primaryColor);
}

// Scroll Reveal
/* html.sr .load-hidden {
   visibility: hidden;
} */

// ---------------               ---------------------------------
// ---------------               ---------------------------------
// UTILITY CLASSES               --------- Change These! ---------
// ---------------               ---------------------------------
// ---------------               ---------------------------------

.container {
   margin-inline: auto;
   margin-block: 4rem;
   padding-inline: 2rem;
   max-width: 1500px;
}

header {
   left: 0;
   right: 0;
   margin-inline: auto;  
   max-width: 1500px;
}

.button {
   padding: .75rem 1.7rem;
   border: 0;
   border-radius: 3px;
   cursor: pointer;
}

// Navigation JavaScript classes

nav {
   top: -150%;
}

.nav-active {
   top: 0;
}

// ----------
// ----------
// NAVIGATION
// ----------
// ----------

header {
   background-color: var(--navColor);
   position: fixed;
   width: 100%;
   top: 0;

   .nav__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__notExtended {
         display: flex;
         justify-content: space-between;
         width: 100%;
         z-index: 1000;
         background-color: var(--navColor);
         padding: 1rem 2rem;

         .nav__logo {
            z-index: 999;
            font-weight: bold;
            font-size: 1.3rem;
   
            a {
               transition: color .4s;
               &:hover {
                  color: var(--primaryColorDark);
               }
            }
         }
   
         .nav__hamburger {
            z-index: 999;
            width: 25px;
            stroke: var(--titleColor);
            cursor: pointer;
         }
      }

      nav {
         position: fixed;
         right: 0;
         width: 100%;
         transition: 1s ease-in-out;

         .nav__menu {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            padding-block: 5rem;
            background-color: var(--navColor);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            margin-top: 2rem;

            .nav__links {
               font-size: 1.5rem;

               a {
                  transition: color .4s;
                  &:hover {
                     color: var(--primaryColor);
                  }        
               }
            }

            .sign-in {
               font-size: 1.5rem;
               background-color: transparent;
               border-radius: 1rem;
               border: var(--primaryColor) 1px solid;
               transition: .4s;
               margin-top: 2rem;

               a {
                  color: var(--primaryColorDark);
                  transition: color .4s;
               }

               &:hover {
                  background-color: var(--primaryColor);
                  
                  a {
                     color: white;
                  }
               }
            }

            .sign-up {
               font-size: 1.5rem;
               background-color: var(--primaryColor);
               border-radius: 1rem;
               border: var(--primaryColor) 1px solid;
               transition: .4s;

               a {
                  color: white;
                  transition: color .4s;
               }

               &:hover {
                  background-color: var(--primaryColorDark);
               }
            }
         }
      }
   }
}

// ------------
// ------------
// Hero Section
// ------------
// ------------

section.hero {
   margin-top: 8rem;
   display: flex;
   flex-direction: column;

   .hero__left {
      .hero__header {
         color: var(--titleColor);
         font-size: 2.25rem;
         font-weight: bold;
         margin-bottom: 1rem;

         span {
            color: var(--primaryColor);
            position: relative;
            z-index: -1;
         }
      }
      
      .hero__desc {
         color: var(--textColor);
         margin-bottom: 2rem;
      }
   
      .hero__search {
         display: flex;
         justify-content: space-between;
         margin-bottom: 3rem;

         width: 70%;
         border-radius: 1rem;
         box-shadow: 0 .3rem .3rem rgba(6, 29, 77, 0.3);

         .hero__search--input {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 1rem;
            font-size: .7rem;
         }

         .hero__search--icon {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            background-color: #2161DF;
            border-radius: 1rem;

            .hero__search--icon--svg {
               margin: 0;
               height: 50%;
            }
         }
      }

      .hero__info {
         display: none;
      }
   }
}

// --------------------------
// --------------------------
// Popular Categories Section
// --------------------------
// --------------------------

section.pop-categories {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .pop-categories__header {
      font-size: 1.5rem;
      font-weight: bold;

      position: relative;
      margin-bottom: 3rem;
      z-index: -1;

      &::after {
         content: "";
         width: 9rem;
         height: .3rem;
         border-radius: .5rem;
         background-color: var(--primaryColor);

         position: absolute;
         top: 110%;
         left: 20%;
      }
   }

   .categories {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      
      .categories__category {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         flex-direction: column;

         padding-inline: 1rem;
         padding-block: 2rem;
         border-radius: 1rem;
         background-color: white;

         .categories__category--pic {
            height: 6.5rem;
         }

         .categories__category--header {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
         }
      }
   }

   .pop-categories--btn {
      margin-top: 3rem;
      border-radius: 1rem;
      font-size: .9rem;
      
      background-color: var(--primaryColor);
      color: white;
      transition: .25s;
      
      span {
         margin-left: .5rem;
         transition: .25s;
         font-size: 1.2rem;
      }

      &:hover {
         background-color: var(--primaryColorDark);

         span {
            margin-left: 1rem;
         }
      }
   }
}

// --------------------
// --------------------
// Best Courses Section
// --------------------
// --------------------

section.best-courses {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   .best-courses__header {
      font-size: 1.5rem;
      font-weight: bold;

      position: relative;
      margin-bottom: 3rem;
      z-index: -1;

      &::after {
         content: "";
         width: 9rem;
         height: .3rem;
         border-radius: .5rem;
         background-color: var(--primaryColor);

         position: absolute;
         top: 110%;
         left: 6%;
      }
   }

   .best-courses__selector {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;

      .best-courses__selector--selection {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;

         transition: .25s;
         background-color: white;
         border-radius: 1rem;
      
         img {
            background-color: transparent;
            margin-left: .5rem;
            height: 1.5rem;
            transition: .25s;
         }

         &:hover {
            background-color: var(--primaryColor);
            color: white;

            img {
               filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(237deg) brightness(104%) contrast(104%);
            }
         }
      }
   }

   .best-courses__courses {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      
      .best-courses__courses--course {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background-color: white;
         border-radius: 1rem;

         .best-courses__courses--course--pic {
            width: 100%;
            margin-bottom: 2rem;
         }
         
         .best-courses__courses--course--header {
            font-size: 1.3rem;
            font-weight: bold;
            color: var(--primaryColorDark);
            margin-bottom: 2rem;
            padding-inline: 1.5rem;
         }

         .best-courses__courses--course--info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-inline: 1.5rem;
            margin-bottom: 1rem;

            .best-courses__courses--course--info--desc {
               display: flex;
               gap: .5rem;
               font-size: .7rem;
               
               img {
                  height: 1rem;
               }
            }            
         }

         .best-courses__courses--course--rate {
            display: flex;
            align-items: center;
            width: 100%;
            padding-inline: 1.5rem;
            margin-bottom: 1.5rem;
            gap: .5rem;

            .best-courses__courses--course--rate--ul {
               display: flex;
               gap: 0.25rem;

               li {
                  img {
                     height: 1rem;
                  }
               }
            }

            p {
               color: var(--primaryColor);
               font-weight: bold;
            }
         }

         .best-courses__courses--course--purchase {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-inline: 1.5rem;
            margin-bottom: 1rem;
            gap: .5rem;

            .best-courses__courses--course--purchase--btn {
               display: flex;
               align-items: center;
               justify-content: center;
               gap: .5rem;
            
               border-radius: 1rem;
               background-color: var(--primaryColor);
               color: white;
               transition: .25s;

               img {
                  transition: .25s;
               }

               &:hover {
                  background-color: var(--primaryColorDark);

                  img {
                     margin-left: .5rem;
                  }
               }
            }

            .best-courses__courses--course--purchase--price {
               color: var(--primaryColor);
               font-weight: bold;
            }
         }
      }
   }
}

// ----------------
// ----------------
// About Us Section
// ----------------
// ----------------

section.about-us {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .about-us__header {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.5rem;
      font-weight: bold;

      position: relative;
      margin-bottom: 3rem;
      margin-inline: auto;
      z-index: -1;

      &::after {
         content: "";
         width: 9rem;
         height: .3rem;
         border-radius: .5rem;
         background-color: var(--primaryColor);

         position: absolute;
         top: 110%;
         left: -10%;
      }
   }

   .about-us__flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      .about-us__left {
         margin-bottom: 2rem;
   
         .about-us__left--header {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
   
            span {
               color: var(--primaryColor);
            }
         }
   
         .about-us__left--desc {
            margin-bottom: 1rem;
            width: 70%;
         }
   
         .about-us__left--info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 2rem;
   
            .about-us__left--info--card {
               display: flex;
               justify-content: baseline;
               align-items: center;
               gap: .5rem;
               font-weight: bold;
   
               img {
                  height: 1rem;
                  position: relative;
                  z-index: -1;
   
                  &::after {
                     content: "";
                     background-color: black;
                     border-radius: 50%;
                     
                     position: absolute;
                     top: 0;
                     left: 0;
                     height: 1.5rem;
                     width: 1.5rem;
                  }
               }
            }
         }
   
         .about-us__left--btn {
            background-color: var(--primaryColor);
            color: white;
            border-radius: 1rem;
            transition: .25s;
   
            span {
               margin-left: .5rem;
               transition: .25s;
               font-size: 1.2rem;
            }

            &:hover {
               background-color: var(--primaryColorDark);

               span {
                  margin-left: 1rem;
               }
            }
         }
      }
   }
}

// -------------
// -------------
// Media Queries
// -------------
// -------------

@media screen and (max-width: 320px) { // Galaxy Fold
   .container {
      padding-inline: 1rem;
   }

   header {
      .nav__content {
         .nav__notExtended {
            padding-inline: 1rem;
            padding-block: .25rem;

            .nav__logo {
               transform: translateY(.55rem);

               a {
                  img {
                     height: 60%;
                  }
               }
            }
      
            .nav__hamburger {
               width: 20px;
            }
         }
   
         nav {
            .nav__menu {
               .nav__links {
                  font-size: 1rem;
               }
   
               .sign-in {
                  font-size: 1rem;
                  margin-top: 1rem;
               }
   
               .sign-up {
                  font-size: 1rem;
               }
            }
         }
      }
   }

   section.hero {
      margin-top: 6rem;

      .hero__left {
         .hero__header {
            font-size: 1.5rem;
         }
         
         .hero__desc {
            font-size: .75rem;
            margin-bottom: 1rem;
         }
      
         .hero__search {
            .hero__search--input {
               padding: .8rem;
               font-size: .7rem;
            }
   
            .hero__search--icon {
               .hero__search--icon--svg {
                  height: 40%;
               }
            }
         }
      }
   }

   section.pop-categories {
      .pop-categories__header {
         font-size: 1.25rem;

         &::after {
            height: .2rem;
            left: 15%;
         }
      }
   
      .categories {
         gap: 1.5rem;
         
         .categories__category {
            padding: 1rem;
   
            .categories__category--pic {
               height: 5rem;
            }
   
            .categories__category--header {
               font-size: 1rem;
               font-weight: bold;
               margin-bottom: 1rem;
            }
            
            .categories__category--desc {
               font-size: .8rem;
            }
         }
      }
   
      .pop-categories--btn {
         margin-top: 2rem;
         font-size: .8rem;
         
         span {
            margin-left: .5rem;
            font-size: .8rem;
         }
      }
   }

   section.best-courses {
      .best-courses__header {
         font-size: 1.25rem;
   
         &::after {
            height: .2rem;
            left: -3%;
         }
      }
   
      .best-courses__selector {
         gap: .75rem;
   
         .best-courses__selector--selection {
            img {
               height: 1.25rem;
            }
         }
      }
   
      .best-courses__courses {
         gap: 2rem;
         
         .best-courses__courses--course {
            .best-courses__courses--course--pic {
               width: 100%;
               margin-bottom: .75rem;
            }
            
            .best-courses__courses--course--header {
               font-size: 1.1rem;
               margin-bottom: 1.25rem;
               padding-inline: 1rem;
            }
   
            .best-courses__courses--course--info {
               padding-inline: 1rem;
               margin-bottom: 1rem;
   
               .best-courses__courses--course--info--desc {
                  font-size: .6rem;
                  
                  img {
                     height: .9rem;
                  }
               }            
            }
   
            .best-courses__courses--course--rate {
               padding-inline: 1rem;
               margin-bottom: 1rem;
   
               .best-courses__courses--course--rate--ul {
                  li {
                     img {
                        height: .7rem;
                     }
                  }
               }
   
               p {
                  font-size: .8rem;
               }
            }
   
            .best-courses__courses--course--purchase {
               padding-inline: 1rem;
   
               .best-courses__courses--course--purchase--btn {
                  font-size: .8rem;
                  padding-inline: 1rem;
                  padding-block: .5rem;

                  img {
                     height: 1rem;
                  }
               }
   
               .best-courses__courses--course--purchase--price {
                  font-size: 1rem;
               }
            }
         }
      }
   }

   section.about-us {
      .about-us__header {
         font-size: 1.25rem;
         margin-bottom: 3rem;
   
         &::after {
            width: 6rem;
            height: .2rem;
            left: -2%;
         }
      }
   
      .about-us__flex {
         .about-us__left {
            margin-bottom: 5rem;

            .about-us__left--header {
               text-align: center;
               font-size: 1.1rem;
               margin-bottom: .75rem;
            }
      
            .about-us__left--desc {
               font-size: .8rem;
               margin-bottom: 1rem;
               text-align: center;
               width: 100%;
            }
      
            .about-us__left--info {
               justify-content: center;
               align-items: center;

               .about-us__left--info--card {
                  font-size: .8rem;
                  
                  img {
                     height: .9rem;
                  }
               }
            }
      
            .about-us__left--btn {
               position: absolute;
               left: 50%;
               transform: translateX(-50%);

               margin-top: 0;
               font-size: .8rem;
               
               span {
                  margin-left: .5rem;
                  font-size: .8rem;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 630px) {
   section.hero {
      .hero__left {
         .hero__header {
            font-size: 2.75rem;
         }
         
         .hero__desc {
            font-size: 1.1rem;
         }
      
         .hero__search {
            .hero__search--input {
               font-size: .8rem !important;
            }
         }
      }

      .hero__right {
         display: flex;
         align-items: center;
         justify-content: center;

         .hero__image {
            height: 30rem;
         }
      }
   }

   section.best-courses {
      .best-courses__header {
         font-size: 1.75rem;

         &::after {
            width: 10rem;
            left: 7%;
         }
      }
   
      .best-courses__selector {
         flex-direction: row;

         .best-courses__selector--selection {
            flex-direction: column;
         }
      }
   
      .best-courses__courses {
         .best-courses__courses--course {
            .best-courses__courses--course--header {
               font-size: 1.5rem;
            }
   
            .best-courses__courses--course--info {
               .best-courses__courses--course--info--desc {
                  font-size: .8rem;
               }            
            }

            }
      }
   }

   section.about-us {
      .about-us__header {
         font-size: 1.75rem;

         &::after {
            width: 10rem;
            left: -12.5%;
         }
      }
   
      .about-us__left {
         .about-us__left--header {
            font-size: 1.6rem;
         }
   
         .about-us__left--desc {
            font-size: 1rem;
         }
      }
   }
}

@media screen and (min-width: 800px) { // Desktop
   section.hero {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10rem;

      .hero__left {
         .hero__header {
            font-size: 2.2rem;
         }
         
         .hero__desc {
            font-size: 1rem;
         }
      
         .hero__search {
            width: 70%;
   
            .hero__search--input {
               font-size: 1rem;
            }
   
            .hero__search--icon {
               width: 30%;
               display: flex;
               justify-content: center;
               align-items: center;
               cursor: pointer;
               
               background-color: #2161DF;
               border-radius: 1rem;
   
               .hero__search--icon--svg {
                  margin: 0;
                  height: 50%;
               }
            }
         }
      }

      .hero__right {
         .hero__image {
            height: 20rem;
         }
      }
   }
   
   section.pop-categories {
      margin-bottom: 10rem;

      .pop-categories__header {
         font-size: 2rem;
         margin-bottom: 4rem;

         &::after {
            width: 12rem;
            left: 19%;
         }
      }
   
      .categories {
         flex-direction: row;
      }
   
      .pop-categories--btn {
         font-size: 1rem;
      }
   }

   section.best-courses {
      margin-bottom: 10rem;

      .best-courses__header {
         font-size: 2rem;
         margin-bottom: 4rem;
   
         &::after {
            width: 10rem;
            left: 12%;
         }
      }

      .best-courses__selector {
         .best-courses__selector--selection {
            padding-block: 1.5rem;
            flex-direction: row;
         }
      }
   
      .best-courses__courses {
         flex-direction: row;
      }
   }

   section.about-us {
      margin-bottom: 10rem;

      .about-us__header {
         font-size: 2rem;
         margin-bottom: 4rem;

         &::after {
            left: -5%;
         }
      }
      
      .about-us__flex {
         flex-direction: row;

         .about-us__left {
            .about-us__left--header {
               font-size: 2.5rem;
            }
      
            .about-us__left--desc {
               font-size: 1.2rem;
               margin-bottom: 2rem;
            }
         }
      }
   }
}

@media screen and (min-width: 930px) { // Hero Image fix
   section.hero {
      .hero__right {
         .hero__image {
            height: 25rem;
         }
      }
   }
}

@media screen and (min-width: 1050px) { // Hero Info Appears + Hero Image fix
   section.hero {
      .hero__left {
         .hero__info {
            display: flex;
            gap: 2rem;
   
            .hero__info--card {
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 1rem;
            }
         }
      }

      .hero__right {
         .hero__image {
            height: 28rem;
         }
      }
   }
}

@media screen and (min-width: 1120px) { // Nav Change + Hero Changes
   header {
      .nav__content {
         padding-block: unset;
         margin-right: 1rem;

         .nav__notExtended {
            width: 50%;
            position: unset;
            padding: 1rem;

            .nav__logo {
               font-size: 2rem;
               margin-left: 1rem;
            }
      
            .nav__hamburger {
               display: none;
            }
         }
   
         nav {
            position: unset;
            
            .nav__menu {
               margin-top: 0;
               flex-direction: row;
               gap: 2rem;
               float: right;
               padding-block: 1rem;
               box-shadow: unset;
               background-color: transparent;
               box-shadow: none;

               .nav__links {
                  font-size: 1rem;
               }

               .sign-in {
                  font-size: 1rem;
                  margin-top: 0;
                  margin-left: 2rem;
               }

               .sign-up {
                  font-size: 1rem;
               }
            }
         }
      }
   }

   section.hero {
      .hero__left {
         .hero__header {
            font-size: 2.5rem;
         }
         
         .hero__desc {
            font-size: 1.25rem;
         }
      
         .hero__info {
            display: flex;
            gap: 2rem;
   
            .hero__info--card {
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 1rem;
            }
         }
      }

      .hero__right {
         .hero__image {
            height: 30rem;
         }
      }
   }
}

// --------------------------------
// Media Queries for Large Displays
// --------------------------------

// 2K - 2560x1440
@media screen and (min-width: 2560px) {
   body {
      zoom: calc(2560/1920);
   }
}

// 4K - 3840x2160
@media screen and (min-width: 3840px) {
   body {
      zoom: calc(3840/1920);
   }
}

// 5K - 5120x2880
@media screen and (min-width: 5120px) {
   body {
      zoom: calc(5120/1920);
   }
}

// 8K - 7680x4320
@media screen and (min-width: 7680px) {
   body {
      zoom: calc(7680/1920);
   }
}